@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    
}



header {
    text-align: center; /* Centraliza o conteúdo dentro do header */
    margin: 20px 0; /* Adiciona uma margem acima e abaixo do header */
}


header img {
    width: 70px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    position: relative;
    top: 15px;
}

.main-text{
    text-align: center;   /* Alinhas texto no centro */
    position: relative;
    top: 80px;
    font-size: 24px;
}

.botao a{
    text-decoration: none;
    color: #fff;
}

.botao{
    text-align: center;
    font-size: 17px;
    width: 100px;
    position: relative;
    width: 200px;
    top: 90px;
    background-color: #54A7BB;
    height: 50px;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.botao:hover{
    background-color: #2f6674;
}

.tabela{
    background-color: #ace6f3;
    font-size: 19px;
    position: relative;
    padding: 10px;
    top: 130px;
    width: 720px;
    height: 155px;
    margin: 0 auto; /* Centraliza horizontalmente */
    border-radius: 5px;
}

@media (max-width: 600px) {
    .tabela{
        width: 300px;
        font-size: 9px;
        height: 100px;
    }
}


.coluna-esquerda,
.coluna-direita{
    display: inline;
}

.linha {
    display: flex; /* Usar flexbox para alinhar as colunas */
    justify-content: space-between; /* Espaça as colunas para as bordas */
    padding: 10px; /* Espaçamento interno */
}

footer img{
    width: 55px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    position: relative;
    top: 450px;
    display: inline-block;
    left: 70px;
}

.suporte-texto{
    position: relative;
    top: 400px;
    left: 150px;
}