* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body {
    background: url(imagens/ben-white-1MHU3zpTvro-unsplash\ 1.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center center;
}

#header {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    height: 70px;
    text-align: center;
    justify-content: center;
}

#logo {
    height: 3rem;
    padding: 0 7vw;
}

#logo-resp {
    display: none;
}

#menu {
    display: flex;
    list-style: none;
    align-items: center;
}

#menu a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    transition: 0.3s;
    font-weight: bold;
    padding: 3rem 3vw;
}

a:hover {
    color: rgba(0, 0, 0, .05);
    opacity: 0.7;
}

#btn-mobile {
    display: none;
}

#main {
    display: flex;
}

#titulo_1 {
    color: white;
    font-size: 50px;
    font-family: "Lora", Arial, Helvetica, sans-serif;
    position: absolute;
    top: 25vh;
    margin-left: 2cm;
    transition: 0.3s;
}

#titulo_2 {
    color: white;
    font-size: 65px;
    font-family: "Lora", Arial, Helvetica, sans-serif;
    position: absolute;
    top: 35vh;
    margin-left: 2cm;
    font-weight: bold;
    line-height: 1;
    transition: 0.3s;
}

#titulo_3 {
    color: white;
    font-size: 65px;
    font-size: 65px;
    font-family: "Lora", Arial, Helvetica, sans-serif;
    position: absolute;
    top: 43vh;
    margin-left: 2cm;
    font-weight: bold;
    line-height: 1;
    transition: 0.3s;
}

#titulo_4 {
    color: white;
    font-size: 25px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    position: absolute;
    top: 54vh;
    margin-left: 2cm;
    transition: 0.3s;
}

#titulo_5 {
    color: white;
    font-size: 25px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    position: absolute;
    top: 58vh;
    margin-left: 2cm;
    transition: 0.3s;
}

#bt-cadastro {
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    transition: 0.3s;
    color: white;
    background-color: transparent;
    width: 12rem;
    height: 1.5cm;
    border: 2px solid white;
    font-size: 1rem;
    border-radius: 30px;
    position: absolute;
    top: 68vh;
    margin-left: 2cm;
    padding: 10px 10px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s;
}

#bt-cadastro:hover {
    opacity: 0.7;
}

section {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

.servicos {
    display: flex;
    background-color: white;
    width: 100%;
    height: 160px;
    align-items: baseline;
    border-radius: 20px 20px 0px 0px;
}

.servicos a {
    text-decoration: none;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    transition: 0.3s;
    color: black;
    font-size: 12px;
}

.servicos p {
    text-decoration: none;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 13px;
}

.box {
    display: flex;
    align-items: flex-start;
    text-align: left;
    padding: 0 1.5rem;
    transition: 0.3s;
    margin: 5px;
    width: 150px;
    background-color: transparent;
}

.box li {
    list-style: none;
    text-decoration: none;
}

footer {
    position: fixed;
    align-items: baseline;
    bottom: 0;
    width: 100%;
    height: 50px;
}

#linha {
    border-top: 1px solid black;
    border-bottom: none;
    width: 92%;
    margin: auto;
    margin-left: 4vw;
    margin-top: 0vw;
}

#rodape {
    list-style: none;
    display: flex;

}

#rodape a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: 0.3s;
    color: black;
}

#rodape li {
    display: inline-block;
    padding: 0 0 0 20px;

    margin-top: 0.6rem;
    font-size: 12px;
}

#marca {
    display: inline-block;
    padding: 0 0 0 20px;
    margin-left: 0px;
    font-size: 12px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

#icones {
    float: right;
    padding: 0;
    background-color: white;
    margin-right: 80px;
}

#icones img {
    padding: 10px 2px 5px 6px;
    width: 20px;
    display: inline-block;
    height: auto;
}

#rodape,
#icones,
#icones img {
    display: inline-block;
}

@media (max-width: 800px) {

    #logo {
        height: 2rem;
        padding: 0 5vw;
    }

    #logo-resp {
        display: none;
    }

    #menu a {
        color: white;
        /* define a cor do objeto */
        font-size: 1rem;
        padding: 2rem 2vw;
    }

    #titulo_1 {
        font-size: 30px;
        margin-left: 1cm;
    }

    #titulo_2 {
        font-size: 45px;
        margin-left: 1cm;
    }

    #titulo_3 {
        font-size: 45px;
        top: 41vh;
        margin-left: 1cm;
    }

    #titulo_4 {
        font-size: 22px;
        top: 50vh;
        margin-left: 1cm;
    }

    #titulo_5 {
        font-size: 20px;
        top: 54vh;
        margin-left: 1cm;
    }

    #bt-cadastro {
        width: 10rem;
        font-size: .9rem;
        border-radius: 30px;
        position: absolute;
        top: 64vh;
        margin-left: 1cm;
    }

    #bt-cadastro:hover {
        opacity: 0.7;
    }

    .servicos {
        display: flex;
        align-items: center;
        text-align: center;
        height: 175px;
        justify-content: center;
    }

    .servicos a {
        font-size: .7rem;
    }

    .servicos p {
        font-size: .7rem;
    }

    .servicos_resp_586 {
        display: none;
    }

    .box {
        align-items: center;
        margin-top: -80px;
        padding: 0 1px;
        margin-left: 10px;
        width: 130px;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        height: 80px;
        margin: 0;
        padding: 0;
    }

    #linha {
        display: flex;
        position: absolute;
        border-top: 1px solid black;
        border-bottom: none;
        width: 85%;
        margin: auto;
        margin-top: -80px;
        margin-left: 4vw;

    }

    #rodape {
        display: flex;
        position: absolute;
        margin-top: -3rem;
    }

    #marca {
        padding: 0;
        margin: 0;
        font-size: 10px;
    }

    #rodape li {
        margin: 0;
        padding: .5rem;
        font-size: 12px;
    }

    #icones {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: space-between;
        width: 35%;
        float: none;
        padding: .5rem;
        margin-top: 1.5rem;
        margin-right: 0px;
    }

    #icones img {
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 660px) {

    body,
    ul {
        margin: 0px;
        padding: 0px;
    }

    #header {
        display: flex;
        box-sizing: border-box;
        align-items: center;
        height: 70px;
        text-align: center;
        justify-content: space-between;
    }

    #logo {
        display: none;
        align-items: flex-start;
        height: 2rem;
        padding: 0 5vw;
        float: left;
    }

    #logo-resp {
        display: flex;
        margin-left: 1rem;
        height: 2.5rem;
        padding: 0 vw;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        height: 0px;
        z-index: 1000;
        transition: .6s;
        background-color: rgba(172, 178, 86, 1);
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        visibility: visible;
        height: calc(100vh - 70px);
        overflow-y: auto;
    }

    #menu a {
        display: flex;
        color: white;
        font-size: 1.5rem;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        margin-right: 1rem;
        gap: .5rem;
    }

    #hamburger {
        color: white;
        border-top-color: transparent;
        width: 50px;
        border-top: 4px solid;
        gap: .5rem;
    }

    #hamburger::after,
    #hamburger::before {
        display: block;
        content: '';
        width: 50px;
        height: 4px;
        background: currentColor;
        margin-top: 8px;
        transition: .6s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -11px;
    }


    #titulo_1 {
        font-size: 25px;
        margin-left: 1cm;
    }

    #titulo_2 {
        font-size: 30px;
        margin-left: 1cm;
    }

    #titulo_3 {
        font-size: 30px;
        top: 39vh;
        margin-left: 1cm;
    }

    #titulo_4 {
        font-size: 18px;
        top: 46vh;
        margin-left: 1cm;
    }

    #titulo_5 {
        font-size: 18px;
        top: 49vh;
        margin-left: 1cm;
    }

    #bt-cadastro {
        width: 10rem;
        font-size: .87em;
        border-radius: 30px;
        position: absolute;
        top: 60h;
        margin-left: 1cm;
    }

    #bt-cadastro:hover {
        opacity: 0.7;
    }

    .servicos {
        display: flex;
        height: 175px;
        justify-content: center;
        align-items: center;
    }

    .servicos a {
        font-size: .7rem;
    }

    .servicos p {
        font-size: .7rem;
    }

    .servicos_resp_586 {
        display: none;
    }

    .box {
        align-items: center;
        margin-top: -80px;
        padding: 0 0px;
        margin-left: 0px;
        width: 130px;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        height: 80px;
        margin: 0;
        padding: 0;
    }

    #linha {
        display: flex;
        position: absolute;
        border-top: 1px solid black;
        border-bottom: none;
        width: 85%;
        margin: auto;
        margin-top: -80px;
        margin-left: 4vw;
    }

    #rodape {
        display: flex;
        position: absolute;
        margin-top: -3rem;
    }

    #marca {
        padding: 0;
        margin: 0;
        font-size: 10px;
    }

    #rodape li {
        margin: 0;
        padding: .5rem;
        font-size: 12px;
    }

    #icones {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: space-between;
        width: 35%;
        float: none;
        padding: .5rem;
        margin-top: 1rem;
        margin-right: 0px;
    }

    #icones img {
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 586px) {

    body,
    ul {
        margin: 0px;
        padding: 0px;
    }

    #header {
        display: flex;
        box-sizing: border-box;
        align-items: center;
        height: 70px;
        text-align: center;
        justify-content: space-between;
    }

    #logo {
        display: none;
        align-items: flex-start;
        height: 2rem;
        padding: 0 5vw;
        float: left;
    }

    #logo-resp {
        display: flex;
        margin-left: 1rem;
        height: 2.5rem;
        padding: 0 vw;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        height: 0px;
        z-index: 1000;
        transition: .6s;
        background-color: rgba(172, 178, 86, 1);
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        visibility: visible;
        height: calc(100vh - 70px);
        overflow-y: auto;
    }

    #menu a {
        display: flex;
        color: white;
        font-size: 1.5rem;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        margin-right: 1rem;
        gap: .5rem;
    }

    #hamburger {
        color: white;
        border-top-color: transparent;
        width: 50px;
        border-top: 4px solid;
        gap: .5rem;
    }

    #hamburger::after,
    #hamburger::before {
        display: block;
        content: '';
        width: 50px;
        height: 4px;
        background: currentColor;
        margin-top: 8px;
        transition: .6s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -11px;
    }

    #titulo_1 {
        font-size: 20px;
        margin-left: .5cm;
        top: 25vh;
    }

    #titulo_2 {
        font-size: 25px;
        margin-left: .5cm;
        top: 30vh;
    }

    #titulo_3 {
        font-size: 25px;
        top: 33vh;
        margin-left: .5cm;
    }

    #titulo_4 {
        font-size: 13px;
        top: 38vh;
        margin-left: .5cm;

    }

    #titulo_5 {
        font-size: 13px;
        top: 40vh;
        margin-left: .5cm;

    }

    #bt-cadastro {
        width: 8rem;
        font-size: .70rem;
        border-radius: 30px;
        position: absolute;
        top: 60vh;
        margin-left: .5cm;
        width: 8rem;
        height: 1.1cm;
    }

    #bt-cadastro:hover {
        opacity: 0.7;
    }

    .servicos {
        display: inline-block;
        height: 250px;
        font-size: .6rem;
        justify-content: center;
        align-items: center;
    }

    .servicos a {
        font-size: .6rem;
    }

    .servicos p {
        font-size: .6rem;
    }

    .box {
        display: inline-block;
        align-items: flex-start;
        text-align: left;
        padding: 0 1.5rem;
        transition: 0.3s;
        margin: 8px;
        width: 130px;
        background-color: transparent;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        height: 80px;
        margin: 0;
        padding: 0;
    }

    #linha {
        display: flex;
        position: absolute;
        border-top: 1px solid black;
        border-bottom: none;
        width: 85%;
        margin: auto;
        margin-top: -100px;
        margin-left: 4vw;
    }

    #rodape {
        display: flex;
        position: absolute;
        margin-top: -4rem;
    }

    #marca {
        padding: 0;
        margin: 0;
        font-size: 8px;
    }

    #rodape li {
        margin: 0;
        padding: .2rem;
        font-size: 8.5px;
    }

    #icones {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: space-between;
        width: 35%;
        float: none;
        padding: .5rem;
        margin-top: 0rem;
        margin-right: 0px;
    }

    #icones img {
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 391px) {

    body,
    ul {
        margin: 0px;
        padding: 0px;
    }

    #header {
        display: flex;
        box-sizing: border-box;
        align-items: center;
        height: 70px;
        text-align: center;
        justify-content: space-between;
    }

    #logo {
        display: none;
        align-items: flex-start;
        height: 2rem;
        padding: 0 5vw;
        float: left;
    }

    #logo-resp {
        display: flex;
        margin-left: 1rem;
        height: 2.5rem;
        padding: 0 vw;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        height: 0px;
        z-index: 1000;
        transition: .6s;
        background-color: rgba(172, 178, 86, 1);
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        visibility: visible;
        height: calc(100vh - 70px);
        overflow-y: auto;
    }

    #menu a {
        display: flex;
        color: white;
        font-size: 1.5rem;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        margin-right: 1rem;
        gap: .5rem;
    }

    #hamburger {
        color: white;
        border-top-color: transparent;
        width: 50px;
        border-top: 4px solid;
        gap: .5rem;
    }

    #hamburger::after,
    #hamburger::before {
        display: block;
        content: '';
        width: 50px;
        height: 4px;
        background: currentColor;
        margin-top: 8px;
        transition: .6s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -11px;
    }

    #titulo_1 {
        font-size: 20px;
        margin-left: .5cm;
        top: 25vh;
    }

    #titulo_2 {
        font-size: 25px;
        margin-left: .5cm;
        top: 30vh;
    }

    #titulo_3 {
        font-size: 25px;
        top: 33vh;
        margin-left: .5cm;
    }

    #titulo_4 {
        font-size: 13px;
        top: 38vh;
        margin-left: .5cm;

    }

    #titulo_5 {
        font-size: 13px;
        top: 40vh;
        margin-left: .5cm;

    }

    #bt-cadastro {
        width: 8rem;
        font-size: .60rem;
        border-radius: 30px;
        position: absolute;
        top: 60vh;
        margin-left: .5cm;
        width: 8rem;
        height: 1.1cm;
    }

    #bt-cadastro:hover {
        opacity: 0.7;
    }

    .box {
        padding: 0 .3rem;
        width: 110px;
        background-color: transparent;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        height: 80px;
        margin: 0;
        padding: 0;
    }

    #linha {
        display: flex;
        position: absolute;
        border-top: 1px solid black;
        border-bottom: none;
        width: 85%;
        margin: auto;
        margin-top: -100px;
        margin-left: 4vw;
    }

    #rodape {
        display: flex;
        position: absolute;
        margin-top: -3rem;
    }

    #marca {
        padding: 0;
        margin: 0;
        font-size: 8px;
    }

    #rodape li {
        margin: 0;
        padding: .2rem;
        font-size: 8.5px;
    }

    #icones {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: space-between;
        width: 35%;
        float: none;
        padding: .5rem;
        margin-top: 1.5rem;
        margin-right: 0px;
    }

    #icones img {
        margin: 0;
        padding: 0;
    }
}