@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #fff;
  overflow-x: hidden;
}

/* Cores */
:root {
  --primary-color: #54a7bb;
  --dark-gray: #979797;
  --light-gray: #eaeaea;
}

/* SideBar Esquerda ######################*/
.left-sidebar {
  display: flex;
  flex-direction: column;
  color: var(--dark-gray);
  padding: 16px;
  width: 20%;
  height: 100vh;
  border-right: 2px solid var(--light-gray);
}
#menu-icon {
  display: none; /* Esconde o ícone por padrão */
}
.icon-menu{
  display: none;
}

.logo-container {
  padding: 1rem;
  color: #fff;
  margin-bottom: 1rem;
  background-color: var(--primary-color);
}

.nav-links {
  margin-top: 2rem;
}
.nav-links a {
  color: inherit;
  text-decoration: none;
}

.menu-title {
  font-size: 1rem;
  margin: 1rem 0px;
}

.nav-links li {
  font-size: 1.2rem;
  list-style: none;
  padding: 0px 20px 20px 0px;
}

.nav-links i {
  margin-right: 1rem;
  font-size: 1.4rem;
}

.nav-links li:hover {
  color: var(--primary-color);
  cursor: pointer;
  transition: color 0.3;
}

.sidebar-bottom {
  margin-top: auto;
}

.perfil-wrapper {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
}

.perfil-wrapper div {
  margin-right: 10px;
}

.perfil-wrapper .user-photo {
  color: var(--light-gray);
  background-color: var(--primary-color);
  border-radius: 50%;
}

.sidebar-bottom button {
  background-color: var(--primary-color);
  color: #fff;
  width: 80%;
  padding: 16px 10px;
  border: none;
  border-radius: 10px;
}

/* Sidebar Direita ############### */
.right-sidebar {
  background-color: #fff;
  padding: 16px;
  width: 20%;
  height: 100vh;
  border-left: 2px solid var(--light-gray);
}
.input-with-icon {
  position: relative;
  width: 100%;
}

.input-field {
  width: 100%;
  padding: 10px 40px 10px 10px; /* Adjust the padding for space for the icon */
  border: 2px solid var(--light-gray);
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

.icon {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: var(--dark-gray);
  cursor: pointer;
  position: relative;
}

/* Area Central ###################### */
.container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  gap: 16px;
}

.content-area {
  background-color: #fff;
  flex: 1;
}

.content-header {
  display: flex;
  align-items: center;
  padding: 12px 16px;
}

.content-header .icon-back-arrow {
  margin-right: 1rem;
  font-size: 1.8rem;
}

.post p {
  color: var(--dark-gray);
}

.divider {
  height: 1px;
  border: 1px solid var(--light-gray);
  margin: 1rem 0;
  margin-left: -16px;
  margin-right: -16px;
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.container-body {
  height: 80%;
  display: flex;
  gap: 10px;
  padding: 30px;
  min-height: 731px;
}

/* Menu Lateral Esquerdo */
.menu-lateral {
  width: 250px;
  height: 100vh;
  background-color: #fff;
  border-right: 2px solid var(--light-gray);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Perfil Container */
.perfil-container {
  padding: 20px;
  width: 703px;
  background-color: white;
  border: 1px solid #A9A9A9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.foto-perfil {
  display: flex;
  align-items: center;
  position: relative;
  background: url(../images/2084_artificiall_fist_breaking_chain_chain_sparking_dark_backgr_4a31c3b1-e1d9-47e7-a64d-2345ed07e26a.png) no-repeat 50% 60% / cover;
  padding: 30px;
  
}

.foto {
  width: 100px;
  height: 100px;
  border-radius: 60%;
  margin-right: 10px;
  object-fit: cover;
  position: relative;
  top: 50px;
  right: 10px;
  display: flex;
}

.info-perfil {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.nickname, .email {
  font-size: 14px;
  color: #ffffff;
  font-family: "Poppins", serif;
}

.detalhes-perfil {
  position: relative;
  padding: 0px;
  background-color: #fff;
  z-index: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--dark-gray);
}

.detalhes-perfil h2, .detalhes-perfil h3 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 14px;
}

.detalhes-perfil h3 {
  color: var(--dark-gray);
}

.info-adicionais {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-item {
  display: flex; 
  align-items: center; 
  margin-bottom: 5px;
  color: var(--dark-gray);
}

.info-item .icones img {
  width: 20px; 
  height: auto; 
  margin-right: 8px; 
  margin-top: 10px;
}

.info-item .txt-link {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: var(--dark-gray);
}

.estatisticas {
  display: flex;
  justify-content: space-between;
}

.campo {
  background-color: #54A7BB;
  color: black;
  padding: 0px;
  border-radius: 5px;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-top: 5px;
}

.campo:last-child {
  margin-right: 0;
}

.campo h4 {
  line-height: 9px;
  margin-top: 10px;
  margin-bottom: 1px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.campo span {
  font-size: 13px;
  color: #ffffff;
  font-weight: 500;
}

.item-menu .icon img,
.info-item .icon img {
  width: 30px;
}

/* Layout Responsivo */

/* Desktop */
@media (max-width: 1280px) {
  .container {
    padding: 0 24px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .container {
    max-width: 720px;
    flex-direction: column;
    padding: 0 16px;
  }

  .left-sidebar, .right-sidebar {
    width: 100%;
    height: auto;
  }

  .menu-lateral {
    width: 100%;
    height: auto;
  }

  .sidebar {
    display: none;
  }

  .content-area {
    width: 100%;
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
  }
 
}

/* Mobile */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    padding: 0;
    width: 100%;
  
  }

  .left-sidebar, .right-sidebar {
    width: 100%;
    height: auto;
  }

  .container-body {
    flex-direction: column;
  }
  .left-sidebar {
    display: none; 
  }
  
  .left-sidebar.active {
    display: flex; 
  }
  
  .icon-menu {
    display: block; 
  }
  #menu-icon {
    display: block; 
    width: 20px;
    padding: 15 px;
    margin: 12px;
  }
  
}
