@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
}

.container-body{
    height: 80%;
    display: flex;
    gap: 10px;
    padding: 30px;
    min-height: 731px;
}

/* Menu Lateral Esquerdo */
.menu-lateral {
    width: 250px;
    height: 100vh;
    background-color: #fff;
    border-right: 2px solid var(--light-gray);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-lateral .btn-expandir {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    margin-bottom: 5px;
}

.menu-lateral .btn-expandir span {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #B5B5BE;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

ul li.item-menu {
    margin-top: 10px;
}

ul li.item-menu a {
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    color: #B5B5BE;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding: 8px 20px;
    text-decoration: none;
}
ul li.item-menu a .txt-link {
    margin-left: 13px; 
    margin-bottom: 5px;
}
ul li.item-menu a .icon > img {
    width: 30px;
}

ul li.item-menu a:hover {
    background-color: #f0f0f0;
    color: var(--primary-color);
    transition: background-color 0.3s, color 0.3s;
}

#botao-sair {
    margin-bottom: 190px;
}

/* Perfil Container */
.perfil-container {
    padding: 20px;
    width: 703px;
    background-color: white;
    border: 1px solid #A9A9A9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.foto-perfil {
    display: flex;
    align-items: center;
    position: relative;
    background: url(../images/2084_artificiall_fist_breaking_chain_chain_sparking_dark_backgr_4a31c3b1-e1d9-47e7-a64d-2345ed07e26a.png) no-repeat 50% 60% / cover;
    padding: 30px;
}

.foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    position: relative;
    top: 50px;
    right: 10px;
}

.info-perfil {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.nickname, .email {
    font-size: 14px;
    color: #ffffff;
    font-family: "Poppins", serif;
}

.detalhes-perfil {
    position: relative;
    padding: 0px;
    background-color: #fff;
    z-index: 1;
    margin-top: 20px;
    color: #B5B5BE;
}

.detalhes-perfil h2, .detalhes-perfil h3 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 14px;
}

.detalhes-perfil h3 {
    color: #B5B5BE;
}

.info-adicionais {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
    color: #B5B5BE;
}

.info-item .icon {
    margin-right: 5px;
}

.estatisticas {
    display: flex;
    justify-content: space-between;
}

.campo {
    background-color: #54A7BB;
    color: black;
    padding: 0px;
    border-radius: 5px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 5px;
}

.campo:last-child {
    margin-right: 0;
}

.campo h4 {
    line-height: 9px;
    margin-top: 10px;
    margin-bottom: 1px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.campo span {
    font-size: 13px;
    color: #ffffff;
    font-weight: 500;
}

.item-menu .icon img,
.info-item .icon img {
    width: 30px;
}

/* Layout Responsivo */
@media screen and (max-width: 960px) {
    .container-body {
        flex-direction: column;
    }
    
    .menu-lateral {
        display: none;
    }
}
