/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

/* Cores */
:root {
  --primary-color: #54A7BB;
  --dark-gray: #979797;
}

.mobile-header {
  display: none;
}

.container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  gap: 16px;
} 


.sidebar {
  background-color: var(--dark-gray);
  color: #fff;
  padding: 16px;
  width: 20%;
}

.content-area {
  background-color: #fff;
  padding: 16px;
  flex: 1;
}

/* Layout Responsivo */
/* Desktop */
@media (max-width: 1280px) {
  .container {
    padding: 0 24px;
  }

}

@media (max-width: 768px) {
  /* Tablet */
  .container {
    max-width: 720px;
    flex-direction: column;
    padding: 0 16px;
  }
  
  .sidebar {
    display: none;
  }
  .content-area {
    width: 100%;
  }
  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: #fff;
    padding: 12px 16px;
  }
}

@media (max-width: 375px) {
  /* Mobile */
  .container {
    max-width: 100%;
    padding: 0 8px;
  }
     

  .header,
  .footer {
    font-size: 14px;
    padding: 8px;
  }

  .main-content {
    padding: 16px 8px;
  }
}