/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

/* Cores */
:root {
  --primary-color: #54a7bb;
  --dark-gray: #979797;
}

.mobile-header {
  display: none;
}

.container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  gap: 16px;
}

.sidebar {
  background-color: var(--dark-gray);
  color: #fff;
  padding: 16px;
  width: 20%;
}

.content-area {
  background-color: #fff;
  padding: 16px;
  flex: 1;
}

.content-header {
  display: flex;
  align-items: center;
  padding: 12px 16px;
}

.content-header .icon-back-arrow {
  margin-right: 1rem;
  font-size: 1.8rem;
}

.post {

}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.post-header .img {
  margin-right: 1rem;
  background-color: #54a7bb;
  border-radius: 100%;
  padding: 1rem;
}

.user-infos {
  width: 100%;
}

.post-header button {
  background-color: #54a7bb;
  color: #fff;
  padding: 10px 20px;
  border-radius: 2rem;
  border: none;
}

/* Layout Responsivo */
/* Desktop */
@media (max-width: 1280px) {
  .container {
    padding: 0 24px;
  }
}

@media (max-width: 768px) {
  /* Tablet */
  .container {
    max-width: 720px;
    flex-direction: column;
    padding: 0 16px;
  }

  .sidebar {
    display: none;
  }
  .content-area {
    width: 100%;
  }
  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: #fff;
    padding: 12px 16px;
    margin-bottom: 1rem;
  }

  .icon-back-arrow,
  .icon-settings {
    font-size: 2rem;
  }

  .content-header {
    display: none;
  }
}

@media (max-width: 375px) {
  /* Mobile */
  .container {
    max-width: 100%;
    padding: 0 8px;
  }

  .footer {
    font-size: 14px;
    padding: 8px;
  }

  .main-content {
    padding: 16px 8px;
  }
}
