/* Definição da fonte */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
}



/* backgroud do formulario de registro */

.background-registro {
    border: 3px solid #fff;
    width: 590px;
    height: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.5);
}


/* Titulo */

h1 {
    color: #444;
    text-align: center;
    position: relative;
    top: -20px;
}


/* define o tamanho e posição do container  principal, o container que envolve todos elementos do formulario*/

.main-container {
    width: 390px;
    height: 550px;
    position: relative;
    margin: 50px auto;
    top: 100px;
}


/* define os elementos com class: block, com display block */

.block {
    display: block;
}



/* padroniza os textos que fazem parte de uma label */

.text-label {
    color: #7a7a7a;
    font-size: 20px;
}



/* padroniza os inputos de text e password */

input[type=text],
input[type=password] {
    width: 369px;
    height: 60px;
    border-radius: 5px;
    border-color: #d6d6d6;
    border: 10px;
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
    background-color: #ebebeb;
    padding-left: 20px;
}

input[type=password] {
    font-size: 20px;
    color: #292929;
}

.divsenha {
    margin-top: 27px;
}



/* padroniza os links */

a {
    text-decoration: none;
    color: #444;
    text-decoration: underline;
}



/* configurações do input de submit */

input[type=submit] {
    margin-top: 40px;
    display: inline-block;
    padding: 10px 20px;
    width: 390px;
    height: 60px;
    background-color: #444;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    border: 10px;
    border: 2px #444 solid;
}

input[type=submit]:hover {
    background-color: #fff;
    color: #444;
}



/* checkbox */

input[type=checkbox] {
    margin-top: 20px;
}



/* criar conta */

.criarconta {
    margin-top: 45px;
    text-align: center;
    color: #a09d9d;
}



/* icones */

i.fas {
    position: relative;
    top: 55px;
    left: 140px;
}

i.fa-solid {
    position: relative;
    top: 55px;
    left: 275px;
}