<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Star Rating</title>
    <!-- css do componente -->
    <link rel="stylesheet" href="../assets/css/utils.css" />
  </head>
  <body>
    <!-- Para usar, basta inserir o html na página e importar o css/js do componente -->
    <div class="star-rating">
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
    </div>
  </body>
  <!-- javascript do componente -->
  <script src="../assets/js/main.js"></script>
</html>
