<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

<div class="body">
  <header class="mobile-header">
    <div class="icon-back-arrow">&#8592;</div>
    <h1 class="header-title nome-pagina">Nome Página</h1>
    <div class="icon-settings">&#8942;</div>
  </header>

  <div class="container">
    <aside class="sidebar left-sidebar">
      <!-- Logo e Nome Empresa -->
      <div class="sidebar-top">
        <div class="logo-container">
          <img src="" alt="" class="logo" />
          <span class="company-name">BookFans</span>
        </div>
      </div>

      <!-- Links de Navegação -->
      <nav class="nav-links">
        <div class="menu-title">Menu</div>
        <ul>
          <li>
            <a href="../paginaFeed/index.html">
              <i class="fas fa-home"></i>
              <span>Visão Geral</span>
            </a>
          </li>
          <li>
            <i class="fas fa-compass"></i>
            <span>Explorar</span>
          </li>
          <li>
            <a href="../paginaMensagens/paginaMensagens.html">
              <i class="fas fa-envelope"></i>
              <span>Mensagens</span>
            </a>
          </li>
          <li><a href="../perfilUsuario/index.html">
              <i class="fas fa-user"></i>
              <span>Perfil</span>
            </a>
          </li>
          <li>
            <a href="../listaDeUsuarios-fav-livro/index.html">
              <i class="fas fa-star"></i>
              <span>Favoritos</span>
            </a>
          </li>
          <li>
            <i class="fas fa-money-check-alt"></i>
            <span>Financeiro</span>
          </li>
          <li>
            <a href="../administração/index.html  ">
              <i class="fas fa-tachometer-alt"></i>
              <span>Administração</span>
            </a>
          </li>
          <li>
            <i class="fas fa-cog"></i>
            <span>Configurações</span>
          </li>
        </ul>
      </nav>

      <!-- Perfil e Botão Sair -->
      <div class="sidebar-bottom">
        <a class="perfil-wrapper" href="../perfilUsuario/index.html">
          <div class="user-photo"></div>
          <span class="user-name" id="user-name">Nome Usuário</span>
        </a>

        <button class="exit-button button">
          <i class="fas fa-sign-out-alt"></i>
          <span>Sair</span>
        </button>
      </div>
    </aside>

    <aside class="sidebar right-sidebar">
      <div class="input-with-icon">
        <input type="text" placeholder="Pesquisar..." class="input-field" />
        <i class="fas fa-search icon"></i>
      </div>
    </aside>

  </div>

  <!-- Feed / Main Area -->
  <main class="content-area">
    <div class="content-header">
      <a class="icon-back-arrow" id="back" href="#">&#8592;</a>
      <h1 class="header-title nome-pagina">Nome Pagina</h1>
    </div>

    <slot></slot>
  </main>
</div>